<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>商品列表</title>

    <link rel="stylesheet" th:href="@{~/assets/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{~/assets/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{~/assets/css/app.css}"/>
</head>
<body>


<!--header-->
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="/assets/img/logo.png" alt="">
        </a>
    </div>


    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a th:href="@{~/user/findallbyuid}">
                    <span class="am-icon-bell-o"></span> 购物车
                </a>
            </li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a th:href="@{~/user/order}">
                    <span class="am-icon-calendar"></span>订单
                </a>
            </li>
            <li th:if="${session.user.power} eq 0" class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a th:href="@{~/user/order}">
                    <span class="am-icon-calendar"></span>订单管理
                </a>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span
                    class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick" th:text="${session.user.username}">用户名称</span><span
                        class="tpl-header-list-user-ico"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a th:href="@{~/changepassword}"><span class="am-icon-cog"></span> 修改密码</a></li>
                    <li><a th:href="@{~/login}"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a th:href="@{~/login}" class="tpl-header-list-link"><span
                    class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>

<div style="height: 80px"></div>


<!--展示区-->
<div class="tpl-portlet-components">
    <div class="tpl-block">
        <div class="am-g">
            <div class="tpl-table-images">

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-4" th:each="product,productStat : ${productlist}">
                    <div class="tpl-table-images-content">
                        <!--<div class="tpl-table-images-content-i-time">发布时间：2016-09-12</div>-->
                        <div class="tpl-i-title" th:text="${product.pname}">
                            “你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！
                        </div>
                        <a href="javascript:;" class="tpl-table-images-content-i">
                            <!--<div class="tpl-table-images-content-i-info">-->
                            <!--<span class="ico">-->
                            <!--<img th:src="@{~/assets/img/user02.png}"  alt="">追逐-->
                            <!--</span>-->

                            <!--</div>-->
                            <span class="tpl-table-images-content-i-shadow"></span>
                            <img style="height: 303px;overflow: hidden" th:src="@{~/__${product.pimg}__}" alt="">
                        </a>
                        <div class="tpl-table-images-content-block">
                            <div class="tpl-i-font">
                                你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片。
                            </div>
                            <div class="tpl-i-more">
                                <ul>
                                    <li>
                                        <div th:if="${product.discountstatus} eq '0'"
                                             style="text-decoration: line-through"><span class="am-text-warning"
                                                                                         th:text="'价钱:'+${product.price}+'¥'">价钱：100+</span>
                                        </div>
                                        <div th:if="${product.discountstatus} eq '1'"><span class="am-text-warning"
                                                                                            th:text="'价钱:'+${product.price}+'¥'">价钱：100+</span>
                                        </div>
                                    </li>
                                    <li><span class="am-text-success" th:text="'折扣价:'+${product.discountprice}+'¥'"
                                              th:if="${product.discountstatus} eq '0'"> 235+</span></li>
                                    <li><span class="am-icon-github font-green"> 销售量:600+</span></li>

                                </ul>
                            </div>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs tpl-edit-content-btn">

                                    <button type="button" class=" am-btn am-btn-default am-btn-success"
                                            th:onclick="'javascript:addOdd(\''+${product.pid}+'\')'"><span
                                            class="am-icon-plus"></span>餐车
                                    </button>
                                    <button type="button" class="am-btn am-btn-default am-btn-warning"
                                            style="float: right" id="doc-prompt-toggle"><span
                                            class="am-icon-archive" ></span> 购买
                                    </button>

                                    <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt" th:attr="productid=${product.pid}"  >
                                        <div class="am-modal-dialog">
                                            <div class="am-modal-hd">购买</div>
                                            <div class="am-modal-bd">
                                                请输入收货地址
                                                <input type="text" class="am-modal-prompt-input">
                                            </div>
                                            <div class="am-modal-footer">
                                                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                                                <span class="am-modal-btn" data-am-modal-confirm>确认</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page"></div>


<script th:src="@{~/assets/js/jquery.min.js}"></script>
<script th:src="@{~/assets/js/amazeui.min.js}"></script>
<script th:src="@{~/assets/js/app.js}"></script>
<script th:src="@{~/assets/js/page.js}"></script>
<script th:inline="javascript">

    $(function () {
        $('#doc-prompt-toggle').on('click', function () {
            $('#my-prompt').modal({
                relatedTarget: this,
                onConfirm: function (e) {
                    var $target = $(e.target);
                    var pid = $target.attr('productid');
                    var address = e.data;
                    console.info("商品id："+pid+"收货地址："+address);
                    goumai(pid, address);
                },
                onCancel: function (e) {

                }
            });
        });
    });

    function addOdd(pid) {
        console.log(pid);
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://localhost:8080/user/insertshopcart?pid=" + pid,
            "method": "POST"
        };

        $.ajax(settings).done(function (response) {
            console.log(pid);
            alert("已添加至购物车");
        });

    };

    function goumai(pid,address) {
        console.log(pid);
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://localhost:8080/user/sxorder",
            "method": "POST",
            "headers": {
                "Content-Type": "application/json",
                "Cache-Control": "no-cache"
            },
            "processData": false,
            "data": "{\"orderFormProducts\":[{\"count\":\"1\",\"product\":{\"pid\":\"" + pid + "\"}}],\"address\":\"" + address + "\"}"
        }

        $.ajax(settings).done(function (response) {
            console.log(pid);
            if (response.code == 1) {
                alert("已成功购买");
            } else if (response.code == 0) {
                alert("账户余额不足");
            }
            else {
                alert("购买失败");
            }
        });

    }
</script>
</body>
</html>