<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>添加商品类别</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" th:href="@{~/assets/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{~/assets/i/app-icon72x72@2x.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" th:href="@{~/assets/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{~/assets/css/admin.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/app.css}">


</head>

<body data-type="generalComponents">


<!--header-->
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="/user/findallproduct" class="tpl-logo">
            <img src="/assets/img/logo.png" alt="">
        </a>
    </div>


    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a th:href="@{~/user/findallbyuid}">
                    <span class="am-icon-bell-o"></span> 购物车
                </a>
            </li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a th:href="@{~/user/order}">
                    <span class="am-icon-calendar"></span>订单
                </a>
            </li>
            <li th:if="${session.user.power} eq 0" class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a th:href="@{~/user/adminOrder}">
                    <span class="am-icon-calendar"></span>订单管理
                </a>
            </li>
            <li th:if="${session.user.power} eq 0" class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a th:href="@{~/user/insertproduct}">
                    <span class="am-icon-steam"></span>添加商品
                </a>
            </li>
            <li th:if="${session.user.power} eq 0" class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a th:href="@{~/user/bannerlist}">
                    <span class="am-icon-picture-o"></span>轮播图
                </a>
            </li>
            <li th:if="${session.user.power} eq 0" class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a th:href="@{~/user/productTypelist}">
                    <span class="am-icon-puzzle-piece"></span>商品类别
                </a>
            </li>
            <li th:if="${session.user.power} eq 0" class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a th:href="@{~/user/userlist}">
                    <span class="am-icon-book"></span>用户管理
                </a>
            </li>
            <li th:if="${session.user.power} eq 0" class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a th:href="@{~/user/chongzhi}">
                    <span class="am-icon-btc"></span>充值
                </a>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span
                    class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick" th:text="${session.user.username}">用户名称</span><span
                        class="tpl-header-list-user-ico"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="javascript:;" ><span class="am-icon-btc"th:text="${session.user.balance}"></span></a></li>
                    <li><a th:href="@{~/changepassword}"><span class="am-icon-cog"></span> 修改密码</a></li>
                    <li><a th:href="@{~/exit}"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a th:href="@{~/exit}" class="tpl-header-list-link"><span
                    class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>

<div style="height: 80px"></div>


<div class="tpl-block" style="width: 80%">

    <div class="am-g">
        <div class="tpl-form-body tpl-form-line">
            <form class="am-form tpl-form-line-form" action="/user/putProductType" method="post"
                  enctype="multipart/form-data">

                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">类别名称 <span
                            class="tpl-form-line-small-title">product type name</span></label>
                    <div class="am-u-sm-9">
                        <input type="text" name="name" placeholder="输入类别名称">
                    </div>
                </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交
                            </button>
                        </div>
                    </div>
            </form>

        </div>
    </div>
</div>


<script th:src="@{~/assets/js/jquery.min.js}"></script>
<script th:src="@{~/assets/js/amazeui.min.js}"></script>
<script th:src="@{~/assets/js/app.js}"></script>

<script>
    function changImg(e) {
        for (var i = 0; i < e.target.files.length; i++) {
            var file = e.target.files.item(i);
            if (!(/^image\/.*$/i.test(file.type))) {
                continue; //不是图片 就跳出这一次循环
            }
            //实例化FileReader API
            var freader = new FileReader();
            freader.readAsDataURL(file);
            freader.onload = function (e) {
                $("#myImg").attr("src", e.target.result);
            }
        }
    }
</script>

</body>

</html>