<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{~/assets/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{~/assets/css/main.css}" rel="stylesheet">

    <link th:href="@{~/assets/css/shopcart.css}" rel="stylesheet">

</head>
<body>

<section id="cart_items" style="margin-bottom:20px">

    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">

            <table class="table" style="margin-bottom: 0px">
                <thead>
                <tr class="cart_menu">
                    <td class="description">菜品</td>
                    <td class="price">原价</td>
                    <td class="total">现价</td>
                    <td class="total">数量</td>
                    <td class="total">总价</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                    <tr class="foods">
                        <td><div class="show"><img class="shopimg" src="/assets/img/500022.jpg"><div class="carttitle">中华龙井田园套餐</div></div></td>

                        <td>123.55¥</td>
                        <td>1234¥</td>
                        <td>2</td>
                        <td>11111</td>
                        <td><a><img class="deleteicon"  src="/assets/img/close-2.png"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="heading">
                <h3>去买单？</h3>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            <li>总数量 <span>
										<%
											out.println(totalNum);
										%>
								</span></li>
                            <li>总&nbsp;&nbsp;&nbsp;&nbsp;价 <span>
										<%
											out.print("￥：");
											out.println(totalPrice);
										%>
								</span></li>
                            <span><a class="btn btn-default check_out"
                                     href="checkout.jsp">去买单</a></span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>

<script th:src="@{~/assets/js/jquery.min.js}"></script>

<SCRIPT>
    $(function () {
        $(".deleteicon").onmouseup(function () {
            $(".deleteicon").attr("src","/assets/img/close-3.png");
        })
    })
</SCRIPT>
</html>